*{padding:0px;margin:0px;}
body{
   margin:0px;
   font-size:9pt;
   font-family:ו;
   background: url('bg2.jpg') 0px -50px;
}
#on_status{
   font-weight:bold;
   height:24px !important;
   height:28px;
   padding-top:4px;
   padding-left:4px;
   padding-right:4px;
   cursor:pointer;
   color:#FFFFFF;
   background:url("shortcut_bg.png") repeat-x;
}

#on_status a{
}
#on_status a.general{
   color:#FFFFFF;
   text-decoration: underline;
}

#on_status_ul{display:none;width:auto;font-weight:normal;border-top:0;border-left: #036 1px solid;border-right: #036 1px solid;border-bottom:#036 1px solid;position:absolute;padding:0px;background:#E7F1F8;}
#on_status_ul li {
   margin: 0 0 0 5px;
   padding: 0;
   display: block;
   list-style-type: none;
}

#on_status_1, .on_status_1{padding-left:20px;background:url("/images/org/U01.png") no-repeat;line-height:16px;}
#on_status_2, .on_status_2{padding-left:20px;background:url("/images/org/U02.png") no-repeat;line-height:16px;}
#on_status_3, .on_status_3{padding-left:20px;background:url("/images/org/U03.png") no-repeat;line-height:16px;}

#my_status{
   width:170px;
   color:#8896A0;
   border:1px #FFFFFF solid;
}
#my_status:hover{
   color:#000000;
}
#tabs{
   width:100%;
   padding-right:4px;
}

.search{
   padding-left:26px;
   height:30px;
   background: url('/images/search_bg.png') left 0px no-repeat;
}
.search .search-body{
   padding-right:26px;
   background:transparent url('/images/search_bg.png') right -60px no-repeat;
   position:relative;
}
.search .search-body .search-input{
   background:transparent url('/images/search_bg.png') left -30px repeat-x;
}
.search .search-body .search-input input{
   width:100%;
   height:16px;
   margin-top:7px;
   border:0px;
   background:transparent;
   padding-left:0px;
}
.search .search-clear{
   position:absolute;
   top:0px;
   right:10px;
   width:16px;
   height:30px;
   background:transparent url('/images/search_bg.png') right -90px no-repeat;
   cursor:pointer;
}

#nav_menu {
   width:242px;
   height:35px;
   margin-left:4px;
   margin-top:5px;
   font-size:12pt;
   background:url("nav_menu_bg.png") no-repeat;
}
#nav_menu li {
   display: inline;
   list-style-type: none;
}

#nav_menu a:link, #nav_menu a:visited {
   color:#000000;
   text-decoration: none;
   display:block;
   float:left;
   text-align:center;
   line-height:35px;
}
#nav_menu a:hover, #nav_menu a.active {
   color:#FFFFFF;
}
#menu_1{
   width:61px;
}
#menu_2{
   width:61px;
}
#menu_3{
   width:60px;
}
#menu_4{
   width:60px;
}

#menu_1:hover, #menu_1:link.active, #menu_1:visited.active{
   color: #FFFFFF;
   background:url("nav_menu_active.png") no-repeat top left;
}
#menu_2:hover, #menu_2:link.active, #menu_2:visited.active{
   color: #FFFFFF;
   background:url("nav_menu_active.png") no-repeat -61px 0px;
}
#menu_3:hover, #menu_3:link.active, #menu_3:visited.active{
   color: #FFFFFF;
   background:url("nav_menu_active.png") no-repeat -122px 0px;
}
#menu_4:hover, #menu_4:link.active, #menu_4:visited.active{
   color: #FFFFFF;
   background:url("nav_menu_active.png") no-repeat top right;
}

#expand_link{
   position:absolute;
   top:2px;
   right:30px;
}

.sub_tabs{
   width:100%;
   height:26px;
   margin-left:4px;
   margin-right:4px;
   border-left:1px #3063A8 solid;
   border-right:1px #3063A8 solid;
   background:url("sub_tabs_bg.png") repeat-x;
   position:relative;
}
.hide{
   height:0px;
}
.sub_tabs ul {
   height:21px;
   width:235px;
   margin-left:5px;
   overflow:hidden;
}

.sub_tabs li {
   display: inline;
   list-style-type: none;
}

.sub_tabs a:link, .sub_tabs a:visited{
   float:left;
	overflow:hidden;
	color:#FFFFFF;
	text-decoration: none;
   padding-left:4px;
}
.sub_tabs a:link span, .sub_tabs a:visited span{
   float:left;
   cursor:pointer;
	padding: 4px 8px 3px 4px;
}
.sub_tabs a.active, .sub_tabs a:hover,
.sub_tabs a:link.active, .sub_tabs a:hover.active, .sub_tabs a:active.active, .sub_tabs a:visited.active
{
	color:#003366;
	text-decoration: none;
   background: url('sub_nav_hover_l.png') no-repeat top left;
}
.sub_tabs a.active span, .sub_tabs a:hover span,
.sub_tabs a:link.active span, .sub_tabs a:hover span, .sub_tabs a:active.active span, .sub_tabs a:visited.active span
{
   background: url('sub_nav_hover_r.png') no-repeat top right;
}
.sub_tabs a:link span span.dropdown, .sub_tabs a:visited span span.dropdown{
   float:none;
   padding:0px !important;
   width:16px;
   height:12px;
   display:inline-block;
   background: url('sub_module_dropdown.png') center 2px no-repeat !important;
}
.sub_tabs a:active span span.dropdown, .sub_tabs a:hover span span.dropdown,
.sub_tabs a:link.active span span.dropdown, .sub_tabs a:hover span span.dropdown, .sub_tabs a:active.active span span.dropdown, .sub_tabs a:visited.active span span.dropdown{
   background: url('sub_module_dropdown.png') center -28px no-repeat !important;
}

.sub_menu{display:none;width:100px;border:#124164 1px solid;position:absolute;z-index:10001;background:#FFFFFF;}
.sub_menu a{display:block;line-height:20px;padding:3px 0 0 16px;width:100%;}
.sub_menu a:hover{background-color:#E2E5E6;width:auto;}
.sub_menu a.active{
   background:url('dropdown_menu_checked.png') #E2E5E6 left center no-repeat;
}

.sub_tabs #menu_refresh,
.sub_tabs #org_refresh,
.sub_tabs #sms_refresh{
   width:16px;
   height:16px;
   display:block;
   position:absolute;
   top:2px;
   right:10px;
   cursor:pointer;
   background:url('refresh.png') center 0px;
}
.sub_tabs #menu_refresh:hover,
.sub_tabs #org_refresh:hover,
.sub_tabs #sms_refresh:hover{
   background:url('refresh.png') center -16px;
}

#body{
   overflow-x:hidden;
   overflow-y:auto;
   clear:left;
   width:100%;
}
#modules{
   padding:0px;
}
#shortcut_ref{
   position:absolute;
   top:12px;
   right:10px;
   background:none;
}
#bottom{
   width:100%;
}